[user]
	email = bitshift@bigmacintosh.net
	name = Bit Shift
[push]
	default = upstream
[color]
	ui = auto
[url "git@github.com:identicurse/"]
        pushInsteadOf = https://github.com/identicurse/
        pushInsteadOf = git://github.com/identicurse/
[url "git@github.com:bit-shift/"]
        pushInsteadOf = https://github.com/bit-shift/
        pushInsteadOf = git://github.com/bit-shift/
[url "git@github.com:Toksyuryel/utilities.git"]
        pushInsteadOf = https://github.com/Toksyuryel/utilities.git
        pushInsteadOf = git://github.com/Toksyuryel/utilities.git
[core]
	excludesfile = /home/bitshift/.gitignore-global
